<div class=" puntero card-columns m-5 animated fadeIn ">
    <div (click)="verArtista( item )" class="card" *ngFor="let item of items">
        <img [src]="item.images| noimage" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <span *ngFor="let artista of item.artists" class="badge badge-pill badge-primary">{{ artista.name }}</span>

            <p class="card-text"><small class="text-muted"> {{ item.release_date }} </small></p>
        </div>
    </div>
</div>